.welcomePageContainer{
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.welcomePage{
    height: 50%;
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.centerSpinner{
    display: flex;
    margin: 10% auto 0 auto;
}